html {
    height: 100%
}

body {
    height: 100%;
    margin: 0px
}

form label {
    font-size: 15px
}

@import "~bootstrap/scss/bootstrap";
@import url('./login.scss');

.btn-primary {
    background-color: #8dc63f;
    border-color: #8dc63f;
}

.btn-primary:hover {
    background-color: #7eb238;
    border-color: #7eb238;
}

.alert {
    font-size: 15px;
    padding: 8px 10px;
}