.dv-base {
    height: 100%;
    width: 100%;
}

#img-logo {
    width: 90%;
}

.form-login {
    width: 75% !important
}

.form-login .btn, .form-register .btn {
    font-size: 15px;
    width: 100%;
}